h1 {
    text-align:center;
    color:white;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px 2px black;
}

p {
    text-align:center;
}

body {
    background-image: url("atm.jpg");
}
